<?xml version="1.0" encoding="utf-8"?>
<robot name="materials" xmlns:xacro="http://wiki.ros.org/xacro">

  <material name="Orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="Green">
    <color rgba="${125/255} ${170/255} ${100/255} 1.0"/>
  </material>

</robot>	